#root {
  width: 100%;
  height: 100%;
}
body {
  margin: 0px;
  background-color: white;
  background: repeating-linear-gradient(
-90deg,
#222,
#222 10px,
#333 10px,
#333 20px
);
}
.whole-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}
.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  min-height: 80px;
  background-color: black;
  justify-content: space-between;
  padding-bottom: 15px;
  padding-top: 10px;
}
.logo {
  display: flex;
  width: 240px;
  height: auto;
  margin-left: 20px;
  font-family: 'Courier New', monospace;
  font-size: xx-large;
  color: whitesmoke;
}
.logo p {
  margin: auto;
  font-weight: bolder;
}
.search {
  display: flex;
}
.centerSearch {
  margin: auto;
  padding-right: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.centerSearch input[type=text] {
  height: 29px;
  box-sizing: border-box;
  padding: 10px;
  font-weight: bold;
  font-family: 'Courier New', monospace;
}
.centerSearch button {
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color:#ffec64;
	border-radius:2px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:3px 6px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
}
.centerSearch button:hover {
  background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	background-color:#ffab23;
}
.centerSearch button:active {
  position:relative;
	top:1px;
}
.nav {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  width: 100%;
  margin: 0px 20px 50px 20px;
  min-height: 70px;
  overflow: hidden;
  background-color: white;
}
.nav button {
  box-shadow: 0px 1px 0px 0px #fff6af;
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color:#ffec64;
	border-radius:6px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:13px 60px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
}
.nav button:hover {
  background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	background-color:#ffab23;
}
.nav button:active {
  position:relative;
	top:1px;
}
.main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-self: center;
  padding: 10px;
  width: 1000px;
  min-height: 640px;
  overflow: hidden;
  background-color: white;
  border-radius: 4px;
}
.grid {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  overflow-y: scroll;
}
::-webkit-scrollbar {
  width: 0;
}
.product {
  display: flex;
  flex-direction: column;
  width: 240px;
  height: 320px;
  border: 1px solid lightgrey;
  margin: 15px;
  border-radius: 4px;
  padding: 10px;
  transition: 0.3s;
}
.product:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.p-img {  
  display: flex;
  width: 100%;
  height: 75%;
  background-color: white;
}
.p-img img {
  object-fit: scale-down;
  width: 100%;
  height:100%;
}
.p-info {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 25%;
}
.p-title {
  width: 70%;
  height: 100%;
  font-family: 'Courier New', monospace;
  overflow-y: scroll;
}
.p-title p {
  margin-top: 5px;
  padding-right: 5px;
}
.col {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 100%;
}
.p-price {
  display: flex;
  width: 100%;
  height: 50%;
}
.p-price p {
  margin: auto;
  font-family: 'Courier New', monospace;
  font-size: 18px;
  font-weight: bolder;
}
.p-add {
  display: flex;
  width: 100%;
  height: 50%;
}
.p-add button {
  margin: auto;
  font-family: 'Courier New', monospace;
  width: 100%;
  height: 100%;
  color: white;
  background-color: black;
  border-color: black;
}
.p-add button:hover {
  background-color: whitesmoke;
  color: black;
}
#cartBtn {
  margin: auto;
  margin-bottom: 15px;
  margin-top: 15px;
  display: block;
  box-sizing: border-box;
  
  box-shadow: 0px 1px 0px 0px #fff6af;
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color:#ffec64;
	border-radius:20px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:13px 45px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
}
#cartBtn:hover {
  background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	background-color:#ffab23;
}
#cartBtn:active {
  position:relative;
	top:1px;
}

.aside {
  min-height: 400px;
  width: 50%;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  border: 3px dotted gray;
  border-radius: 5px;
}
.footer {
  display: flex;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 70px;
  color: whitesmoke;
  background-color: black;
}
.footer p {
  font-family: 'Courier New', monospace;
  font-size: large;
  margin: auto;
}
.ProductsLoadingBox {
  display: flex;
  min-width: 1000px;
  min-height: 640px;
}
.ProductsLoadingBox p{
  margin: auto;
  font-size: 32px;
  font-style: italic;
  color: gray;
  font-family: 'Courier New', monospace;
}

@media screen and (max-width: 500px) {
  .header {
    justify-content: space-evenly;
  }
  .centerSearch {
    padding-right: 0px;
    margin-bottom: 10px;
  }
  .logo p {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 800px) {
  .aside {
    width: 100%;
  }
}